.container {
    display: grid;
    grid-template-columns: 1fr 5fr
}

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2
}

.header {
    display: grid;
    grid-column: 2/ 4;
}

.content {
    display: grid;
    grid-column: 2 / 4;
}